@use '../variables' as v;

.button {
  cursor: pointer;
  width: auto;
  height: auto;
  border: 2px solid v.$black;
  border-radius: 1rem;

  // button types
  &.primary {
    box-shadow: 0 0.25rem v.$black;

    &.background-blue {
      background-color: v.$blue;
    }

    &.background-green {
      background-color: v.$green;
    }

    &.background-yellow {
      background-color: v.$yellow;
    }

    &.background-red {
      background-color: v.$red;
    }

    &.background-purple {
      background-color: v.$purple;
    }

    &.background-gray {
      background-color: v.$gray;
    }

    &.background-black {
      background-color: v.$black;
      border: 2px v.$white;
      box-shadow: 0.25rem v.$white;
    }

    &.background-cream {
      background-color: v.$cream;
    }

    &.background-white {
      background-color: v.$white;
    }
  }

  &.secondary {

  }

  &.link {
    background-color: transparent;
    &.toggle-on {
      background-color: v.$white;
    }
  }

  &.link:active, &.link:focus {
    background-color: v.$white;
  }
  
  // button paddings
  &.padding-large {
    padding: 1rem 2rem;
  }

  &.padding-small {
    padding: 0.5rem 1rem;
  }

  &.padding-even {
    padding: 1rem;
  }

  &.padding-none {
    padding: 0rem;
  }

  &:disabled {
    background-color: v.$gray;
  }
}
