.map-container {
    position: relative;
}

.map-background-img {
    max-width: 100%;
}

.location-icon {
    position: absolute;
}

.text-box {
    background-color: white;
    text-align: left;
    position: absolute;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 12px;
    border: 2px solid #393A40;
    box-shadow: 0px 4px 0px #393A40;
    border-radius: 12px;
}

.business {
    top: 50%;
    left: 75%;
}

.chemistry {
    top: 38%;
    left: 65%;
}

.computing {
    top: 12.5%;
    left: 50.5%;
}

.education {
    top: 30%;
    left: 10%;
}

.engineering {
    top: 28%;
    left: 48%;
}

.environment{
    top: 60%;
    left: 70%;
}

.information {
    top: 53%;
    left: 51%;
}

.journalism {
    top: 20%;
    left: 45%;
}

.law {
    top: 68%;
    left: 78%;
}

.ls {
    top: 58%;
    left: 42%;
}

.natural {
    top: 42%;
    left: 23%;
}

.optometry {
    top: 52%;
    left: 70%;
}

.health {
    top: 33%;
    left: 5%;
}

.policy {
    top: 12.5%;
    left: 55%;
}

.welfare {
    top: 28%;
    left: 40%;
}
