.ratio-container {
    position: relative;
    margin-bottom: 10px;
    margin-left: 20px;
}

.face-img {
    max-width:35%;
    max-height:35%;
    display: inline;
}

.ratio-label {
    background-color: white;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    right: 50px;
    bottom: 8px;
    position: absolute;
    padding: 4px;
}