@use "../variables" as v;

.onboard {
  overflow: hidden;
  scroll-behavior: none;
}

// graphics
.moods-container {
  width: 25.5rem;
  z-index: 1;

  &.fear {
    position: absolute;
    left: -4rem;
    top: -11.375rem;
  }
  
  &.anger {
    position: absolute;
    left: -15rem;
    top: 12.8rem;
  }
  
  &.surprised {
    position: absolute;
    left: 13.75rem;
    bottom: -13.5rem;
  }
  
  &.sad {
    position: absolute;
    right: 18rem;
    top: -10rem;
  }
  
  &.hopeful {
    position: absolute;
    right: -16.25rem;
    top: 6.5rem;
  }
  
  &.happy {
    position: absolute;
    right: -16.25rem;
    bottom: -4.5rem;
  }
}

img.moods {
  width: 100%;
}

// data button
.button.data-icon {
  width: 5rem;
  height: 5rem;
  z-index: 999;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

img.data-button-icon {
  width: 100%;
  height: 100%;
}

.get-started-content {
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-container {
    max-width: 25rem;
    margin-bottom: 1rem;
  }

  h1.bold {
    margin-bottom: 1rem;
  }
}
