// sass --watch ./src/styles/index.scss ./src/App.css

// imports
@use "./variables" as v;
@import "./variables";
@import "./components/Button";
@import "./components/NavBar";
@import "./components/Screen";
@import "./components/Map";
@import "./components/MoodRatio";
@import "./pages/GraphPage";

// imports pages
@import "./pages/OnboardPage";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  font-family: v.$mont;
  color: v.$black;
}