@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.625rem;
  font-weight: 400;
}

h1.bold {
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}

h2.bold {
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h3.bold {
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}

h4.bold {
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p.bold {
  font-weight: 700;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.625rem;
  font-weight: 400;
}

h1.bold {
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}

h2.bold {
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h3.bold {
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}

h4.bold {
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p.bold {
  font-weight: 700;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.625rem;
  font-weight: 400;
}

h1.bold {
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}

h2.bold {
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h3.bold {
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}

h4.bold {
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p.bold {
  font-weight: 700;
}

.button {
  cursor: pointer;
  width: auto;
  height: auto;
  border: 2px solid #393A40;
  border-radius: 1rem;
}
.button.primary {
  box-shadow: 0 0.25rem #393A40;
}
.button.primary.background-blue {
  background-color: #95B0E5;
}
.button.primary.background-green {
  background-color: #8DC99C;
}
.button.primary.background-yellow {
  background-color: #FFC466;
}
.button.primary.background-red {
  background-color: #EA8F7A;
}
.button.primary.background-purple {
  background-color: #C5A6C6;
}
.button.primary.background-gray {
  background-color: #D9D9D9;
}
.button.primary.background-black {
  background-color: #393A40;
  border: 2px #FFF;
  box-shadow: 0.25rem #FFF;
}
.button.primary.background-cream {
  background-color: #F5EDE2;
}
.button.primary.background-white {
  background-color: #FFF;
}
.button.link {
  background-color: transparent;
}
.button.link.toggle-on {
  background-color: #FFF;
}
.button.link:active, .button.link:focus {
  background-color: #FFF;
}
.button.padding-large {
  padding: 1rem 2rem;
}
.button.padding-small {
  padding: 0.5rem 1rem;
}
.button.padding-even {
  padding: 1rem;
}
.button.padding-none {
  padding: 0rem;
}
.button:disabled {
  background-color: #D9D9D9;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.navbar-logo {
  display: inline-block;
  vertical-align: top;
  width: 5rem;
}
.navbar-menu {
  display: inline-block;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.625rem;
  font-weight: 400;
}

h1.bold {
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}

h2.bold {
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h3.bold {
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}

h4.bold {
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p.bold {
  font-weight: 700;
}

.screenframe {
  display: block;
  width: 100%;
  height: 100%;
}

.screen {
  display: block;
  width: 100%;
}
.screen.auto {
  height: auto;
}
.screen.full {
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
}
.screen.backgroundcolor-cream {
  background-color: #F5EDE2;
}

.ratio-container {
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
}

.face-img {
  max-width: 35%;
  max-height: 35%;
  display: inline;
}

.ratio-label {
  background-color: white;
  border-radius: 30px;
  width: 50%;
  text-align: center;
  right: 50px;
  bottom: 8px;
  position: absolute;
  padding: 4px;
}

#grid-container {
  background-color: #F5EDE2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: "top top" "bottom-left bottom-right";
}

#grid-item-top {
  grid-area: top;
  padding: 20px 0px 0px 0px;
  text-align: center;
}

#grid-item-bottom-left {
  grid-area: bottom-left;
  height: 100vh;
  padding: 20px;
}

#grid-item-bottom-right {
  grid-area: bottom-right;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.date {
  margin-top: 20px;
}

img.logo {
  width: 100%;
  height: auto;
}

.moodpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mood-select {
  margin-bottom: 2rem;
}

.mood-select_options {
  display: flex;
}
.mood-select_options .mood-select_option {
  margin: 0.5rem;
  max-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mood-select_options .mood-select_option .button {
  z-index: 999;
}

img.mood-image {
  width: 10rem;
}

.berkeley-dept {
  margin-bottom: 2rem;
}

.berkeley-dept_dropdown {
  margin-top: 1rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.625rem;
  font-weight: 400;
}

h1.bold {
  font-weight: 700;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}

h2.bold {
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

h3.bold {
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}

h4.bold {
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

p.bold {
  font-weight: 700;
}

.onboard {
  overflow: hidden;
  scroll-behavior: none;
}

.moods-container {
  width: 25.5rem;
  z-index: 1;
}
.moods-container.fear {
  position: absolute;
  left: -4rem;
  top: -11.375rem;
}
.moods-container.anger {
  position: absolute;
  left: -15rem;
  top: 12.8rem;
}
.moods-container.surprised {
  position: absolute;
  left: 13.75rem;
  bottom: -13.5rem;
}
.moods-container.sad {
  position: absolute;
  right: 18rem;
  top: -10rem;
}
.moods-container.hopeful {
  position: absolute;
  right: -16.25rem;
  top: 6.5rem;
}
.moods-container.happy {
  position: absolute;
  right: -16.25rem;
  bottom: -4.5rem;
}

img.moods {
  width: 100%;
}

.button.data-icon {
  width: 5rem;
  height: 5rem;
  z-index: 999;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

img.data-button-icon {
  width: 100%;
  height: 100%;
}

.get-started-content {
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-started-content .logo-container {
  max-width: 25rem;
  margin-bottom: 1rem;
}
.get-started-content h1.bold {
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #393A40;
}

/*# sourceMappingURL=App.css.map */
